.navbar img{
    width: 60px;
    height: 60px;
    margin-left: 67px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 66px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: black;
    align-items: center;
}
.nav-links a:hover{
    color: blue;
text-decoration: underline;
}
header{
    position: static;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}
.dropbtn{
    font-size: 16px;
    border: none;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
 min-width: 160px;
 box-shadow: 0px 8px 6px 0px rgba(0, 0 ,0 2); 
 z-index: 1;
right: 8%;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: fififi;

}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    color: blue;
    text-decoration: underline;
}


